#logo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
    font-size: 24px;
    transition: transform 1s ease-in-out;
}
#floatingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: justify;
    font-size: 16px;
}